<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Votaciones </h1>
    </div>
    <p>Agregar Votantes</p>

    <div class="form-group">
    <label>Numero De Identidad:
    <input [(ngModel)]="votan.numerodeid" class="form-control" placeholder="digite Identidad" type="text"/>
    </label>
    </div>


    <div class="form-group">
    <label>Nombre:
    <input [(ngModel)]="votan.nombre" class="form-control" placeholder="digite Nombre " type="text" />
    </label>
    </div>

    <div class="form-group">
        <label>Apellido:
        <input [(ngModel)]="votan.apellido" class="form-control" placeholder="digite  apellido " type="text" />
        </label>
        </div>
    
 <div class="form-group">
    <label>Digite ID Del Candidato:
    <input [(ngModel)]="votan.IdCandidatos" class="form-control" placeholder="digite Id  " type="number" />
    </label>
    </div>

    <div class="form-group">
    <button (click)="add()" class="btn btn-primary">VOTAR</button>
    </div>

    